files:

  "/etc/drush/drushrc.php":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      <?php
      // Drupal core base directory
      $options['r'] = '/var/app/current';

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_post_deploy_link.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/sh
      rm /opt/drush -f
      ln -sf /var/app/ondeck/vendor/drush/drush /opt/drush
      export PATH=$PATH:/opt/drush
