files:

  "/etc/drush/drushrc.php":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      <?php
      // Drupal core base directory
      $options['r'] = '/var/app/current/web';


  "/tmp/settings.local.php":
    mode: "000644"
    owner: "webapp"
    group: "webapp"
    content: |
      <?php
      $databases['default']['default'] = array (
        'database' => $_SERVER['DB_DATABASE'],
        'username' => $_SERVER['DB_USER'],
        'password' => $_SERVER['DB_PASS'],
        'prefix' => '',
        'host' => $_SERVER['DB_HOST'],
        'port' => $_SERVER['DB_PORT'],
        'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
        'driver' => 'mysql',
      );

  "/opt/elasticbeanstalk/hooks/appdeploy/post/20_post_deploy_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh

      LOCAL_SETTINGS_PATH="/tmp/settings.local.php"
      LOCAL_SETTINGS_NEW_PATH="/var/app/current/web/sites/default/settings.local.php"
      DRUPAL_PATH_DEPLOY='/var/app/current/web'
      DRUPAL_DRUSH_DIR='/var/app/current/drush'

      # Set $HOME to prevent https://github.com/hechoendrupal/drupal-console-core/issues/255
      export HOME=/var/www/html

      mv $LOCAL_SETTINGS_PATH $LOCAL_SETTINGS_NEW_PATH

      if [ -d $DRUPAL_PATH_DEPLOY ]; then
        echo "Drupal deployed"
        cd $DRUPAL_PATH_DEPLOY || echo "Could not change to Drupal Path"
        sudo find . -type d -exec chmod u=rwx,g=rx,o= '{}' \; &&
        sudo find . -type f -exec chmod u=rw,g=r,o= '{}' \;
        cd "sites"
        sudo find . -type f -exec chmod u+r-wx,g+r-wx,o-rwx {} \;
        for x in ./*/files; do
          sudo find ${x} -type d -exec chmod ug=rwx,o= '{}' \;
          sudo find ${x} -type f -exec chmod ug=rw,o= '{}' \;
        done
        echo "Drupal permission structure set"
        sudo chmod g+r $DRUPAL_DRUSH_DIR && echo  "Drush directory permissions set"
      fi
      echo "Rebuilding Drupal Cache..."
      /opt/drush/drush -r /var/app/current cache:rebuild || /opt/drush/drush -r /var/app/current status

  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_post_deploy_link.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/sh
      rm /opt/drush -f

      # Set $HOME to prevent https://github.com/hechoendrupal/drupal-console-core/issues/255
      export HOME=/var/www/html

      ln -sf /var/app/current/vendor/drush/drush /opt/drush

commands:
  10-add-user:
    command: usermod -a -G webapp ec2-user

