files:

  "/etc/drush/drushrc.php":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      <?php
      // Drupal core base directory
      $options['r'] = '/var/app/current';

  "/opt/elasticbeanstalk/hooks/appdeploy/post/97_post_deploy_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/sh

      usermod -a -G webapp ec2-user
      drupal_path='/var/app/current'

      cd drupal_path
      find . -type d -exec chmod u=rwx,g=rx,o= '{}' \;
      find . -type f -exec chmod u=rw,g=r,o= '{}' \;
      cd sites
      find . -type f -exec chmod u+r-wx,g+r-wx,o-rwx {} \;
      for x in ./*/files; do
        find ${x} -type d -exec chmod ug=rwx,o= '{}' \;
        find ${x} -type f -exec chmod ug=rw,o= '{}' \;
      done

  "/opt/elasticbeanstalk/hooks/appdeploy/post/98_post_deploy_link.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/sh
      rm /opt/drush -f

      # Set $HOME to prevent https://github.com/hechoendrupal/drupal-console-core/issues/255
      export HOME=/var/www/html

      ln -sf /var/app/current/vendor/drush/drush /opt/drush
      export PATH=$PATH:/opt/drush
      drush /var/app/current
