commands:
  01-set-path:
    test: test ! -f /opt/elasticbeanstalk/.post-provisioning-complete
    command: echo 'export PATH=$PATH:/opt/drush' >> /root/.bash_profile
  02-set-path:
    test: test ! -f /opt/elasticbeanstalk/.post-provisioning-complete
    command: echo 'export PATH=$PATH:/opt/drush' >> /home/ec2-user/.bash_profile
