files:

  "/etc/init/venmo.conf":
    mode: "000755"
    owner: root
    group: root
    content |
      description "Venmo Transaction Listener"
      author "localhost@localhost.com"

      start on runlevel [2345]
      stop on runlevel [!2345]
      respawn
      exec python2.7 /var/app/current/scripts/venmo/VenmoToDrush.py

  "/opt/elasticbeanstalk/hooks/appdeploy/post/30_post_deploy_venmo_setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh

      SCRIPT_DIR='/var/app/current/scripts'
      SCRIPT_VENMO_DIR='/var/app/current/scripts/venmo'
      # Set $HOME to prevent https://github.com/hechoendrupal/drupal-console-core/issues/255
      export HOME=/var/www/html

      if [ -d SCRIPT_DIR ]; then
        sudo chmod g+rx $SCRIPT_DIR
        sudo chmod g+rx $SCRIPT_VENMO_DIR && echo "Venmo script directory permissions set"
        pip2.7 install --user imap2lib imapclient && echo "Python packages installed"
      fi

commands:
  10-run-venmo-listener:
    test: test -f /var/app/current/scripts/venmo/VenmoToDrush.py
    command: service start venmo

