files:

  "/etc/init/venmo.conf":
    mode: "000755"
    owner: root
    group: root
    content |
      description "Venmo Transaction Listener"
      author "localhost@localhost.com"

      start on runlevel [2345]
      stop on runlevel [!2345]
      respawn
      exec python2.7 /var/app/current/scripts/venmo/VenmoToDrush.py

  "/opt/elasticbeanstalk/hooks/appdeploy/post/30_post_deploy_venmo_setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh

      SCRIPT_DIR='/var/app/current/scripts'
      SCRIPT_VENMO_DIR='/var/app/current/scripts/venmo'

      if [ -d SCRIPT_DIR ]; then
        sudo chmod g+rx $SCRIPT_DIR
        sudo chmod g+rx $SCRIPT_VENMO_DIR && echo "Venmo script directory permissions set"
      fi
      service venmo stop
      service venmo start

