packages:
  yum:
    mod24_ssl : []

files:

  "/etc/httpd/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCertificateChainFile "/etc/pki/tls/certs/chain.crt"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off

        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff

        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early

      </VirtualHost>

  "/etc/pki/tls/certs/server.crt":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFWjCCBEKgAwIBAgISBA2eeMelhqUnkgKc/RelSc6WMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDAxMjExNjQxNTdaFw0y
      MDA0MjAxNjQxNTdaMBwxGjAYBgNVBAMMESouY29udHJhZGFuY2Uub3JnMIIBIjAN
      BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1ASQe58LDaCJH2ysJEzIK7u2aXzO
      VP/q2JR6jzhDitB99/++sCqQsZ2Dabip5a0/fpjfxNdbbW2wCrj/E2XGFRWIysXd
      Bjm/UPa7CFHOOD+h3AyOYJbgw3zCZk6RUzhwkNXIMTvRgLvsdTP46kvdvzdedJGy
      f5i3GDtQLWOxjuqgd4DpF7LWf7ZkVE47Zqg0yVhL0oi0HpqSpSbZ8Y+X7PQlVGVU
      RcTRreMseqWWlcHfr1/36jpWZgs+dlbX/VADq4ZZggZwJ7Ep6GyuIZLtG2tFy4Cb
      ybQLmCzEi8dCpyqiws/qr9bot3Mkr44PIZQTLfOBZ1ZnkE7L1E0BOdgFAwIDAQAB
      o4ICZjCCAmIwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggr
      BgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBQSdw/Cui2MfF19sjnBbZ75
      /ypM7TAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEFBQcB
      AQRjMGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5jcnlw
      dC5vcmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5jcnlw
      dC5vcmcvMBwGA1UdEQQVMBOCESouY29udHJhZGFuY2Uub3JnMEwGA1UdIARFMEMw
      CAYGZ4EMAQIBMDcGCysGAQQBgt8TAQEBMCgwJgYIKwYBBQUHAgEWGmh0dHA6Ly9j
      cHMubGV0c2VuY3J5cHQub3JnMIIBBAYKKwYBBAHWeQIEAgSB9QSB8gDwAHYAb1N2
      rDHwMRnYmQCkURX/dxUcEdkCwQApBo2yCJo32RMAAAFvyTJYhgAABAMARzBFAiB4
      urFx6kUqKI6M2uYk5fQZLhJi4FWGGiiMQHG9RTBkuQIhAKMoMF5A5dFlf6L8kAwv
      bHck5g3ruXjnAgHKxzRA/qC4AHYAB7dcG+V9aP/xsMYdIxXHuuZXfFeUt2ruvGE6
      GmnTohwAAAFvyTJYgwAABAMARzBFAiEArSV9P3D8aK2O9P6PeOkQZo1QUIZWwHE4
      z/Wd5kZav7kCIBYWrve9wWsDhiTjPtgpWSI3reEyW8MBXKdZ20nH+wcyMA0GCSqG
      SIb3DQEBCwUAA4IBAQByyBSbhpwt32ihJBmU91+Ajper9EMDyZsqIIUoQF5iiBqJ
      LE0IXfAG1pxtGCxfnkikuynyvxNcq13fHe8ziMPJeCV2ayDYKiYgu/z2E+tKcTxu
      KT/C2pUblM2JBHJKpwgelMk8BAvIsFWKqyxPQQv8/CFCX5u2Os//ochsif/9Z7nE
      JphpZZi55qXB9O5tSSspmHfQuaW0xXYA00ArvBvz5QsdK62qTKn0e6zWdhtWDto+
      nVaLOzdhtU3zkzqKOl5GE65U/0AryfCaCe8NHuLarZ1724ZDSmaB7QzjIcWv0ZKJ
      zAkbuDvmIcxewPSd8zqFht+GyxTLK+FcM/bCQtL8
      -----END CERTIFICATE-----

  "/etc/pki/tls/certs/server.key":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDUBJB7nwsNoIkf
      bKwkTMgru7ZpfM5U/+rYlHqPOEOK0H33/76wKpCxnYNpuKnlrT9+mN/E11ttbbAK
      uP8TZcYVFYjKxd0GOb9Q9rsIUc44P6HcDI5gluDDfMJmTpFTOHCQ1cgxO9GAu+x1
      M/jqS92/N150kbJ/mLcYO1AtY7GO6qB3gOkXstZ/tmRUTjtmqDTJWEvSiLQempKl
      Jtnxj5fs9CVUZVRFxNGt4yx6pZaVwd+vX/fqOlZmCz52Vtf9UAOrhlmCBnAnsSno
      bK4hku0ba0XLgJvJtAuYLMSLx0KnKqLCz+qv1ui3cySvjg8hlBMt84FnVmeQTsvU
      TQE52AUDAgMBAAECggEBAMXwUPeo/0fEpeA5s+jb6lGyGVYYmAWRO67hyB5n997k
      UYa0NFICGz5HgQW1yqBMA6hsjxUVvhzGuAD6v+FbNfg/N4uf+H60cSHkh673uOCY
      v8NR0abplYPMuS2Mkm6wlZ8Sh6k3YJugVt0BHZWYKLk5tyx7TbuEVwP/dBY8Kevy
      +mN0guhh5OGKwT/0go1ET6v3LonStfNqblnyhgvsUVRdsoicbchVjxmuxT+AxWDi
      hchbLS0EXM5a3MO10kVfU68m7M8ruKCMQDd/5uF4JH3XS259uq2GL9FiFsrITKR5
      xfAuU4LyVqhJbC7XlQrKOsNeAL5qpUTqea2kYMRgctkCgYEA/ESEMKRN0Ch35sNT
      N+AH0TJIyqVgSulNAiIK2NlnDt2vHGRknHLgiVY1wJNxyvSC4Qjk9lPJOlXrXL1g
      L7cZsA/VC5LnSJjeIaYKg7xuoR6M438xSnVahjuLCeXMNnTxAmpJ+1bKzyKoOk0K
      OOL7BlrXsuDuyoAcmQ3HCy2n2QcCgYEA1yeZQqdqYALajCHVLOpOtnl/LsN0ovjx
      SnQAWh7OJHska7mz3Taaqahqz97+QLvnKBOxOH1ebbyJjqzqTDqbffgwzOgPnrwY
      mNKl/LdpjRQtx25kbOjZlIbNkZMChuPCnS/h8F0JB88b/eTT4L6w2+6F/AU6v90b
      HvSJ/ilWYSUCgYB5X83qSWNW/+GQmfH0NEoOkQ8M0TzfThjLKe3mH9PCB081begq
      jesSqPP7z/U0HSjLdSgUjIOJGcXAPS2GR6aIW1W519iHyWU281ijwYnI45YN7yic
      FpKTexqOjI4QtXswGku2LjAuMRKX2nFMpYj5qcOWQTsjGzinO0XFTxYvCQKBgCy1
      C8Gv7Ai7TxJjTVqh7W05XdYnwyrCM9FWvWP8lrU56V2BHwDOgeDTIC7FlWt6IBRR
      0zd7xY1j6el9wMnKO9k3I1zQs742M54910PmEMbB9KlGJRQEZoHYaQrg01uYJC5p
      brd1fZTj0ls1m1lOBo4MyEaQB58qoKIUCkCH8m0JAoGAJAmkLrpCpi3na0a4oLin
      kxj6pvfAG96nGXCgZ+PzeZuFDGOmeJMCTC7kJm4c3XJncBvmWxcURREDoiVTqRdN
      ii0cKb+2ONrtRwMFT4qXzcbx5EVUIXmXGhTVoYJTvoCkldsHGccz/5dq1o2AYZ1g
      lR0akRr6vQoTnhsjG6wKBEw=
      -----END PRIVATE KEY-----

    "/etc/pki/tls/certs/chain.crt":
      mode: "000400"
      owner: root
      group: root
      content: |
        -----BEGIN CERTIFICATE-----
        MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
        MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
        DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
        SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
        GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
        AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
        q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
        SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
        Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
        a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
        /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
        AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
        CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
        bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
        c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
        VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
        ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
        MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
        Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
        AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
        uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
        wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
        X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
        PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
        KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
        -----END CERTIFICATE-----

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
