packages:
  yum:
    mod24_ssl : []

files:

  "/etc/httpd/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCertificateChainFile "/etc/pki/tls/certs/chain.crt"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off

        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff

        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early

      </VirtualHost>

  "/etc/pki/tls/certs/server.crt":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFZzCCBE+gAwIBAgISA7mLco8qxWm8KCIEXgWJFYgIMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDAyMTQxNjQzNDhaFw0y
      MDA1MTQxNjQzNDhaMBoxGDAWBgNVBAMTD2NvbnRyYWRhbmNlLm9yZzCCASIwDQYJ
      KoZIhvcNAQEBBQADggEPADCCAQoCggEBAOLMdQ9KJb8XEncJNay7bCblpGaA69sH
      dj59eIVbFEtFeK/bgeyfbfhhmH8MgDf58VJUONhA2bwyNogq7/9MYPz8XqQ61y21
      zsri+7hQiuHDGi19ZTJ9JJsxUhW2CcHc9hkDQ3UCBaZfQ1KrO0EDaTzFUMSf91YX
      +GBDwYqQ0KyXqC2uvNIZNgjtReWwSdZ3uhioEDky82RmF7HvigiYnJ+5fX+UNt2j
      UJa7grRa1pOTHo+lroBLuTsSIr1qQRLM0rNckZdYf8wEbdW85/B40ogxbR2EalUg
      JqJVygFEGKvVnmuxy3xwi6IdxaVjoCrYFS2y4wErg54MLmgrHNbKUlsCAwEAAaOC
      AnUwggJxMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYB
      BQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUIDK61MO/I/4GROpMAl5SSmn3
      /oswHwYDVR0jBBgwFoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYIKwYBBQUHAQEE
      YzBhMC4GCCsGAQUFBzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0c2VuY3J5cHQu
      b3JnMC8GCCsGAQUFBzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0c2VuY3J5cHQu
      b3JnLzAtBgNVHREEJjAkghEqLmNvbnRyYWRhbmNlLm9yZ4IPY29udHJhZGFuY2Uu
      b3JnMEwGA1UdIARFMEMwCAYGZ4EMAQIBMDcGCysGAQQBgt8TAQEBMCgwJgYIKwYB
      BQUHAgEWGmh0dHA6Ly9jcHMubGV0c2VuY3J5cHQub3JnMIIBAgYKKwYBBAHWeQIE
      AgSB8wSB8ADuAHUAsh4FzIuizYogTodm+Su5iiUgZ2va+nDnsklTLe+LkF4AAAFw
      RMyqggAABAMARjBEAiA5TZdYqi6xkwwpOH/Pl955gLwSbEl0t4GLikXdLyhfewIg
      Lr4zbC5xirXRAByMqhQXwGJ8Fh/dsONOhM5sXarOLJYAdQBvU3asMfAxGdiZAKRR
      Ff93FRwR2QLBACkGjbIImjfZEwAAAXBEzKrUAAAEAwBGMEQCIAG/mB6o9LIp3XLR
      oIuMQzITsCyjL+fAATxfEEnDY1ANAiA8/b2fK4JZ2fnaeRtltVhm9y+lTnl9uLgg
      yE5rnrvXrjANBgkqhkiG9w0BAQsFAAOCAQEAR7ZJGrIJe/KwKZloBc638GgcA2g4
      gqIUcIql72Wy3LLzQdOkqwmrvKAuURVyiAGC5reRSnbkWAa0/HOXLPNDq7JUs3Yy
      BvuTqOHT4Z1mpsZJL5Nb4OfFWEqp18g6cul6enuNa4z7R+iI8MRCQV5wgPJmrgQa
      7pi8LNNCaNJn/rjmVm4NuOc5EGd8O+w6092FSuAPDwTjWBZ65ZQ3B5qsAB1URccG
      kEQSDKvm6wPT+xOIP+xJX3hyKL7qWoSSDaC5u2ZPavV8PIVOvYGykRWZJRr5DxJZ
      PoOz37eG01R9fRgaSUZmT/N4nApSGANmwHfqDYdalzrFCARDn0tabYuL6A==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----

  "/etc/pki/tls/certs/server.key":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDizHUPSiW/FxJ3
      CTWsu2wm5aRmgOvbB3Y+fXiFWxRLRXiv24Hsn234YZh/DIA3+fFSVDjYQNm8MjaI
      Ku//TGD8/F6kOtcttc7K4vu4UIrhwxotfWUyfSSbMVIVtgnB3PYZA0N1AgWmX0NS
      qztBA2k8xVDEn/dWF/hgQ8GKkNCsl6gtrrzSGTYI7UXlsEnWd7oYqBA5MvNkZhex
      74oImJyfuX1/lDbdo1CWu4K0WtaTkx6Ppa6AS7k7EiK9akESzNKzXJGXWH/MBG3V
      vOfweNKIMW0dhGpVICaiVcoBRBir1Z5rsct8cIuiHcWlY6Aq2BUtsuMBK4OeDC5o
      KxzWylJbAgMBAAECggEBAM4Y5Ct/wutyqPn5KYiNTMvQFWR8tVf14PMKjBILYVbB
      i9mrDNcdTg7PiYeysXWssSqSlJGX5QVLUBjPhAaovt5G7C4rtky4kXH3cK3eq0Zb
      SJecAvEtna1V1XUbVqSQCidSuuNCciXtHb2rEw6Sbfimii4T++yFndTE3cTwsmCT
      PjsmSmMADuenmPhCgvfTl+sj1J/SuJY092lGsQef0QebKS3vuDIYTbTgkElSZTNX
      GRs8hxwgruyrWl7Hx1HJQW6U2QJo8f6XwpnKt6U4JENiyNj2TbcmH0RtmxthzBN2
      /8gXVf8QAlIK+hX2RVHPG1wdEkjnolQ4YJccQIFT4IECgYEA+PjiPUDOOssxqXkh
      dYy58ORByfV7vww3+YY++c5/hTKCPVZyR0saQ6Zdkg39hw+43MEIhsuN27uUXJUt
      9DEqex1/N1kTzqkAnvaRX8gJx90N2ZhfOXVE6RBxX3EqCxQgkq8tXEremTES/Tnf
      qHo1CNMes/ZjRmIlBppFpLomzcECgYEA6TNX+sVx/KF8sd7ARkM460AVg63qAMDr
      pHgZqVv0O6LB+WotuebLGCLIkJc42jV1a3iyMwVyob8mz1nnlYhzID4H/vDj7ydm
      g8p76+Jv51LWhzBLrEMmNa4AQXKFAwr32B559nROFqkxWVHqhn75VRAUMEEhCrju
      iFj5/xRYXxsCgYEA0Gc0qWU3u4setOeKFGWJt5S5ZR4xSUgnCp1O1bf+kjYnQsS7
      v+WjxIDbzkgbshR8/3wtcPeudQHdPGo7Hy6QiqG0PVY4+EILHQTzxyMg3MWytDOR
      cf0xg42Z+PQ25zMf2Oj9pUWecsjbRlBNYS96eTqPdsCFdQLuT0qPhUW0+YECgYAx
      BdMb63/f3M7K0YnX+2+uvKUJLnk/uU6QH5M9cBAyrS9b0D9WkjbllwJUqwWPkadi
      dVf4s896QyXUdxDg9XNGNuQVauxvrPe3Asz0NIDTvy1L9BIkX2Vb6X0yRPHDRv39
      F8MJ1T9JMj4mibrklTKy+BNWZYqdp2y1iwba4ZsGOwKBgQCHL8F/dKjgTOWo3nIc
      vB8LB7a9D5svsAeFIIcbitLxgXqTb3jSORJJY8lsxYNHKpUyn3bwNkIgPn1ep3nV
      l0n0lgP8Ahd9cqLWr7VdMykZpKfGgYGYFkkHQZ+oRoAcMDLwQC6RAjiuF231Vivw
      BQMZe8YWotEWepIXYXLU2XxTkg==
      -----END PRIVATE KEY-----


    "/etc/pki/tls/certs/chain.crt":
      mode: "000400"
      owner: root
      group: root
      content: |
        -----BEGIN CERTIFICATE-----
        MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
        MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
        DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
        SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
        GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
        AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
        q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
        SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
        Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
        a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
        /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
        AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
        CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
        bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
        c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
        VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
        ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
        MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
        Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
        AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
        uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
        wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
        X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
        PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
        KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
        -----END CERTIFICATE-----

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
