/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/**************************************************************
*
* Global styling
*
***************************************************************/
body {
  background-image: url("/themes/custom/ccd_bs/images/layout/bgimages/wood.jpg");
  background-repeat: repeat;
  z-index: -99;
  background-attachment: fixed;
  color:white;
}


h1,h2,h3,h4,h5 {
  color:white;
}

label {
  color:white;
}

.panel label {
  color:black;
}

form#node-event-form div.panel label {
  color:black;
}

/**************************************************************
*
* Edit tab styling
*
***************************************************************/

.tabs-below > .nav-tabs .summary, .tabs-left > .nav-tabs .summary, .tabs-right > .nav-tabs .summary {
  color:white;
}
.white-on-black {
  color:white;
}

.autocomplete-titles {
  color:black;
}

body.path-frontpage {
  background-image: none;
  color:white;
  animation: fadein 2s;
}

div iframe.iframe-centered {
  display:block;
  margin: 0 auto;
}

span.field-content {
  color:black;
}
body.page-node-type-event span.field-content {
  color:white;
}

body.page-node-type-event .field.field--name-field-cost.field--type-string.field--label-hidden.field--item {
  margin-bottom: .5em;
}

div.views-view-grid span.field-content {
  color:white;
}

textarea.cke_source {
  color:black;
}
body.front span.date-display-single,
body.front div.field-name-field-cost,
body.page-calendar span.date-display-single,
body.page-calendar div.field-name-field-cost {
  color:black;
}

body.front div.field-name-field-cost	 {
  color:black;
}

table.views-table {
  color:white;
}

tfoot {
  color:black;
}
div.view-id-board_members div.row {
  margin-bottom:2em;
}

div.view-id-board_members div.views-field-title {
  margin-top:.5em;
}

div.view-id-board_members {
  border: 10px solid blue;
  border-radius: 20px;
  padding:1em;
}

/**************************************************************
*
* Set styling for large text blocks
*
***************************************************************/

@media only screen and (min-width : 320px) {
  div.text-block {
    font-size:14px;
  }
}
@media only screen and (min-width : 480px) {
  div.text-block {
    font-size:14px;
  }
}

@media only screen and (min-width : 768px) {
  div.text-block {
    font-size:18px;
  }
}

/**************************************************************
*
* Make the main video responsive
*
***************************************************************/

.embedded-video .player {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embedded-video .player iframe,
.embedded-video .player object,
.embedded-video .player embed {
  position: absolute;
  margin:auto;
  width: 100%;
  height: 100%;
  border: 2px;
  border-color: black;
}

/*
 * Provide some space at teh bottom of the main player
*/

div.embedded-video {
  padding-bottom:10px;
  color:black;
}


.region-header {
  margin-top:2px;
  margin-bottom:2px;
}

div.highlighted.jumbotron {
  padding:5px;
}
/**
 * Turn off to title of main page
 *
*/

.lead {
  display: none;
}

/**
 * Provide some padding below the carousel on the front
 *
*/

.carousel-inner {
  margin-bottom:10px;
}

/**
 * Soocial media links CSS
 *
*/

#block-social-media-links-social-media-links {
  border-radius:20px;
  background: #8B3051;
  padding: 20px;
  width: 100%;
  height: 20%;
}

footer.footer {
  padding-left: inherit;
}


/*
 * background color
 *
*/

body {
  background-color:black;
}

/*
 * Border around site
 *
 */

div.main-container.container {
  border-radius: 10px;
  background-color:rgba(0,0,0,.6);
  padding:20px;
//    width: 100%;
//    height: 100%;
}

.band-info-container, .caller-info-container {
  background-color: rgba(255,255,255,1) !important;
  color:black
}

div.ui-helper-hidden-accessible {
  color:red;
}
/**************************************************************
*
* Front page background
*
***************************************************************/


div.jumbotron.jumbotronImg {
  margin:0;
  padding:0;
  width: 100%;
}
header#navbarfront.navbar.container.navbar-default div.jumbotron.jumbotronImg div.container.drop div#navbar-collapse.navbar-collapse.collapse {
  width:100%;
}


/**************************************************************
*
* Make navbars transparent
*
***************************************************************/

header#navbarfront-transparent.navbar.container.navbar-default {
  background:none;
  border:none;
  padding-top:12vh;
}

header#navbar.navbar.container.navbar-default {
  background:none;
  border:none;
  padding-top:12vh;
}

div.jumbotron.jumbotronImg {
  background-attachment: fixed;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  opacity:.3;
  margin:-2em 0 0 0;
  padding:0;
}

@media only screen and (min-width : 992px) and (max-width:3000px) {
  div.jumbotron.jumbotronImg {
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    opacity:.1;
    margin:-2em 0 0 0;
    padding:0;
    background-position: 0;
  }
}


/**************************************************************
*
* Background video jumbotron styling
*
***************************************************************/

.jumbotron {
  position: absolute;
  z-index: -5;
  background-color:transparent;
}

#video-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -5;
  width: 100%;
  opacity: 0;
}

/**************************************************************
*
* Upcoming events styling
*
***************************************************************/

.upcoming-panel {
  padding:1em;
//  box-shadow: 10px 10px 25px grey;
  border-radius: .5em;
  margin:1em;

}
div#views-bootstrap-upcoming-events-views-block-1 {
  margin-right: 1em;
}

/**************************************************************
*
* Full Calendar events styling
*
***************************************************************/

li.pager__item.pager__item__years {
  display:flex;
  margin-top:.5em;
}

li.pager__item.pager__item__years ul {
  margin:.5em;
  padding:.5em;
}
@media only screen and (min-width : 768px) {
  li.pager__item.pager__item__years {
    display:initial;
    margin-top:initial;
  }

  li.pager__item.pager__item__years ul {
    margin:initial;
    padding:initial;
  }
}
.full-calendar-panel span {
  font-size: .75em;
}

.full-calendar-panel {
  text-align: center;
  font-size: 14px;
}
.full-calendar-panel section[class^="block"] {
  text-align:center;
}

.full-calendar-panel section[class^="block"] div {
  display: inline-flex;
  text-align:center;
}


.layout--twocol-section.layout--twocol-section--25-75 > .layout__region--first {
  flex:auto;
}

.full-calendar-panel .layout__region--second {
  height:100%;
}


.full-calendar-panel .layout__region--second .block-field-blocknodeeventfield-caller,
.full-calendar-panel .layout__region--second .block-field-blocknodeeventfield-band {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


@media only screen and (min-width : 768px) {
  article.upcoming-events-views h2 {
    width:40%;
  }
  .full-calendar-panel {
    text-align: initial;
    font-size: 14px;
  }
  .full-calendar-panel section[class^="block"] {
    text-align: initial;
  }

  .full-calendar-panel section[class^="block"] div {
    display: inline-flex;
    text-align: left;
  }

  .full-calendar-panel section.block-field-blocknodeeventfield-event-date {
    font-size:14px;
  }
}


.full-calendar-panel div.field--name-field-band img,
.full-calendar-panel div.field--name-field-caller img {
  width:auto;
  max-height:180px;
  display: inline;
}

.full-calendar-panel div.field--name-field-caller img,
.full-calendar-panel div.field--name-field-sound img,
.full-calendar-panel div.field--name-field-host img {
  display: inline;
}


.full-calendar-panel  {
  margin-bottom:20px !important;
  padding-bottom: 1em;
}

.full-calendar-panel div.layout__region--first .field--label {
  float: none;
}
div.block-field-blocknodeeventfield-event-date {
  width: 100%;
  text-align: center;
}


@media only screen and (min-width : 768px) {
  .full-calendar-panel div.layout__region--first div.field--item {
    float: left;
  }
  .full-calendar-panel div.layout__region--second section.block-field-blocknodeeventfield-band {
    text-align: center;
    width:100%;
    display:inline-block;
  }
  .full-calendar-panel div.layout__region--second section.block-field-blocknodeeventfield-caller {
    position:relative;
    float:right;
    margin-right:1em;
    width:32%;
    display:inline-block;
  }
  .full-calendar-panel div.layout__region--second section.block-field-blocknodeeventfield-host {
    width:32%;
    display:inline-block;
  }

  .full-calendar-panel div.layout__region--second section.block-field-blocknodeeventfield-sound {
    width:32%;
    display:inline-block;
  }
}

.full-calendar-panel div.layout__region--second {
  display:none;
}
@media only screen and (min-width : 768px) {
  .full-calendar-panel div.layout__region--second {
    position: absolute;
    display: initial;
    right: 0;
    width: 60%;
    top:0;
  }
}
@media only screen and (min-width : 1200px) {
  .full-calendar-panel div.layout__region--second {
    top: 0;
  }
}

.full-calendar-panel div.layout__region--second h2 {
  display:none;
  margin:0;
}

.full-calendar-panel div.layout__region--second section.block-field-blocknodeeventfield-band {
  width:66% !important;
}

.full-calendar-panel div.layout__region--second section.block-field-blocknodeeventfield-caller {
  width:33%;
}
div.full-calendar-panel {
  color:black;
}

div.full-calendar-panel div.contextual button {
  background-color: yellow;
}


/**************************************************************
*
* Fullclaendar_View main calendar CSS (replaces above)
*
***************************************************************/

.fc-event-container a,
a.fc-day-number {
  color:white;
  font-weight: 400;
}

.fc-event-container .fc-content,
.fc-day-number{
  font-size:1.33em
}
.fc-day-grid-event .fc-content {
  white-space: inherit;
}
.fc-view.fc-listYear-view.fc-list-view.fc-widget-content {
  background-color: white;
  color:black;
}
.fc-ltr.fc-basic-view.fc-day-top.fc-day-number {
  color:white;
}

.fc-button-group,
.fc-list-item-marker {
  display:none;
}

.fc-list-table td {
  padding: 4px 6px;
}
.fc-view .fc-scroller {
  height:auto !important;
}

@media only screen and (min-width : 480px) {
  .fc-list-table td {
    padding: 8px 14px;
  }
}
@media only screen and (min-width: 992px) {
  .fc-button-group {
    display: initial;
  }

  .fc-view .fc-scroller {
    height: initial;
  }
}

.tooltip-inner {
  max-width: 100% !important;
}
/**************************************************************
*
* Event page styling
*
***************************************************************/

article.event div.layout__region--second section.block-field-blocknodeeventfield-band {
  width: 100%;
}
article.event div.layout__region--second section.block-field-blocknodeeventfield-caller {
  width:49%;
  display:inline-block;
}

article.event div.layout__region--second section.block-field-blocknodeeventfield-host {
  width: 49%;
  display: inline-block;
}

@media only screen and (min-width : 480px) {
  article.event div.layout__region--second section.block-field-blocknodeeventfield-band {
    width: 50%;
    display: inline-block;
  }
  article.event div.layout__region--second section.block-field-blocknodeeventfield-caller {
    width:24%;
    display:inline-block;
  }

  article.event div.layout__region--second section.block-field-blocknodeeventfield-host {
    width: 24%;
    display: inline-block;
  }

  article.event div.layout--twocol-section section.block-views-blockevent-views-event-view-donation-summary-view {
    margin-right:.5em;
  }
}
article.event div.layout__region--second section.block-field-blocknodeeventfield-band span {
  display:none;
}
article.event div.layout__region--second section.block-field-blocknodeeventfield-caller span {
  display:none;
}
article.event div.layout__region--second section.block-field-blocknodeeventfield-host  span {
  display:none;
}


div.attendance-summary-row span.views-field {
  display:block;
}

div.attendance-summary-row span.field-content {
  float:right;
  margin-right: 1em;
}

div.revenue-row span.views-field {
  display:block;
}

div.revenue-row span.field-content {
  float:right;
  margin-right: 1em;
}
div#views-bootstrap-event-views-event-view-donation-summary-view .panel.panel-default .field-content {
  color:black;
}

div.cashbox-row span.views-field {
  display:block;
}

div.cashbox-row span.field-content {
  float:right;
  margin-right: 1em;
}

div.cashbox-row .views-field-rendered-entity .field-content{
  float:none;
}


fieldset[name="field_num_of_payees"] {
  margin-bottom: .5em;
}
.form-item-num-of-payees {
  display: inline;
  margin-left: .5em;
}


form#ccd-cashbox-operations-add-student-form .captcha-admin-links,
form#ccd-cashbox-operations-add-comped-form .captcha-admin-links,
form#ccd-cashbox-operations-add-student-iou-form .captcha-admin-links,
form#ccd-cashbox-operations-add-full-iou-form .captcha-admin-links {
  display:none;
}

section.block-ccd-cashbox {
  margin-top:1em;
}

section.block-ccd-cashbox .btn {
  width:100%;
}

div.edit-node .panel-body label {
  color:black;
}

div.edit-node div.entity-meta.tab-content div.vertical-tabs-pane label {
  color:white;
}

button#edit-submit-email {
  margin-top: 1em;
  margin-bottom:1em;
}

#ccd-cashbox-operations-send-to-sc-form button {
  margin-top: 0;
  margin-bottom:0;
}

/**************************************************************
*
* Front page styling
*
***************************************************************/

.upcoming-panel {
  padding: 1em;
  margin:1em;
  color:black;
  width:98%;
}

/*
*
* Upcoming Panel formatting of content
*
 */

.upcoming-panel span {
  font-size: .75em;
}

.upcoming-events-views .layout--twocol-section .layout__region--second {
  display: none;
}
.upcoming-events-views .layout--twocol-section .layout__region--first {
  width: 100%;
}

@media only screen and (min-width : 768px) {
  .upcoming-events-views .layout--twocol-section .layout__region--first {
    display: initial;
    width:49%;
  }
  .upcoming-events-views .layout--twocol-section .layout__region--second {
    width: 49%;
    top:5%;
    height:100%;
    display:initial;
    margin-top:3em;
    margin-right:1em;
  }
  div#views-bootstrap-upcoming-events-views-block-1  .upcoming-events-views .layout__region--second .block-field-blocknodeeventfield-band {
    width:65%;
  }
  div#views-bootstrap-upcoming-events-views-block-1 .upcoming-events-views .layout__region--second .block-field-blocknodeeventfield-caller {
    width:32%;
  }
}

@media only screen and (min-width : 992px) {
  .upcoming-events-views .layout--twocol-section .layout__region--second {
    margin-top:1.5em;
  }
}

.upcoming-panel h2 {
  display:inline;
}

.upcoming-panel div.field--name-field-band {
  text-align:center;
}

.upcoming-panel div.field--name-field-caller {
  text-align:center;
}

.upcoming-panel div.field--name-field-band img {
  width:75%;
  max-height:220px;
  display: inline;
}

.upcoming-panel div.field--name-field-caller img {
  display: inline;
}


.upcoming-panel div.layout__region--second section.block-field-blocknodeeventfield-band {
  width:66%;
  display:inline-block;
  margin-top:-4em;
}
.upcoming-panel div.layout__region--second section.block-field-blocknodeeventfield-caller {
  width:50%;
  display:inline-block;
}

.upcoming-panel h2 {
  margin-top:.5em;
}
.upcoming-panel  {
  margin-bottom:1em !important;

}

.upcoming-panel div[class^="field--"] {
  float:left;
}

.upcoming-panel div.layout__region--second {
  float:right;
  position:absolute;
  top:0;
  right:0;
  text-align: right;
  width:50%;
}

.upcoming-panel div.layout__region--second span {
  display:none;
}


.upcoming-panel div.layout__region--second section.block-field-blocknodeeventfield-caller {
  width:33%;
}

/*
 *
* Stuff
/*
/*

 */
body header div#navbar-collapse a {
  color:white;
}
body header .dropdown-menu {
  background-color:#222222;
}

div.view-display-id-block_2 {
  color:white;
}

div.main-container-front {
  margin-top:0;
}

section#block-views-block-agenda-items-block-5 {
  border: 10px solid blue;
  border-radius: 20px;
  padding:1em;
}

div.views-field-rendered-entity span.agenda-item-render div.paragraph--view-mode--agenda-items-private {
  padding-top:.5em;
}

div.ui-dialog div.captcha p strong {
  color:green !important;
}

.about-ccd-blocks-container.container {
  text-align: center;
}

a.about-ccd-blocks img {
  border: 5px dashed #0a83ff;
  border-radius: 10px;
  margin-bottom: 1em;
}


div.band-info-pane, div.caller-info-pane {
  padding:1em;
}

div.caller-band-panes {
  padding:1em;
}
section#block-infoforbandsandcallers div.container {
  padding: 0;
  margin:0;
  width:100%;
}
section#block-infoforbandsandcallers div.container div.row {
  margin:0;
  padding:0;
}


/**************************************************************
*
* Layout builder formatting
*
***************************************************************/

div.layout-builder {
  background-color:black;
}

div.layout-builder section {
  background-color:black;
}

/**************************************************************
*
* Modal changes when doing donations
*
***************************************************************/

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front {
  max-width:90%;
  border-radius:8px;
}

/**************************************************************
*
* Modal changes for event popups
*
***************************************************************/

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front {
  max-width:90%;
}


/**************************************************************
*
* Modal changes when adding content
*
***************************************************************/

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons {
  max-width:90%;
  width:90%;
  top:10%;
  color:green;
}
@media only screen and (min-width : 768px) {
  .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons {
    max-width: 50% !important;
    width: 50% !important;
    top: 10% !important;
    color: green;
  }
}


.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons  button.tabledrag-toggle-weight {
  display:none;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons  button[name=field_positions_add_more] {
  display:inline-block;
}


.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-title-wrapper] {
  width:48%;
  display:block;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons .field-content.autocomplete-titles {
  color:black;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field] {
  width:50%;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-event-date-wrapper] {
  width:50%;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-event-date-wrapper] .form-item {
  width:100%;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-event-date-0] .form-inline {
  display:inline;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-image] .form-control {
  padding-bottom:2.3em;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-band-image] .form-control {
  padding-bottom:2.3em;
}

/*.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-event-date-wrapper] input {*/
/*  padding-bottom: 2.5em;*/
/*}*/

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-address] {
  width:100%;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-image]{
  width:50em;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-website] {
  width:75%;
  display:block;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-location] {
  width:100%;
}

/**************************************************************
*
* Remove unnecessary information when creating events from dialogue
*
***************************************************************/


.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-group-revenue-summary],
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-group-cashbox],
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-group-ious],
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons table[id|=field-person-paid],
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons table[id|=field-people-and-payments-values],
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons div[id|=edit-field-event-pay-boolean]{
  display:none;
}



/**************************************************************
*
* Add icons to main menu
*
***************************************************************/

.toolbar-icon-modal-menu-button-add-band:before, .toolbar-icon-modal-menu-button-add-person:before, .toolbar-icon-modal-menu-button-add-event:before  {
  background-image: url("../images/layout/icons/LogoFullBack.jpg");
}



/**************************************************************
*
* Front page off-screen load and header fade in
*
***************************************************************/


body.path-frontpage .footer {
  display:none;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

div.upcoming-panel {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 4s ease-out 0s 1 slideInFromLeft;
}


body.path-frontpage header.navbar {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 6s; /* Firefox < 16 */
  -o-animation: fadein 6s; /* Opera < 12.1 */
  animation: ease-in fadein 6s;

  /*  -webkit-animation-delay: 3s;
    -moz-animation-delay:3s;
    -o-animation-delay:3s;
    animation-delay: 3s
  */
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/**************************************************************
*
* SC page links as buttons
*
***************************************************************/


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  div.sc-only-title-btn {
    border-radius: 25px;
    border: .5em solid blue;
    padding: .5em;
    width: 100%;
    background-color: whitesmoke;
    margin-top:.5em;
  }
  div.sc-only-title-btn {
    position:relative;
  }
  div.sc-only-row span.field-content {
    font-size : 1.5em;
    position:relative;
    top:50%;
    margin-top: 0;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  div.sc-only-title-btn {
    border-radius: 25px;
    border: .25em solid blue;
    padding: 10px;
    width: 100%;
    background-color: whitesmoke;
    margin-top:.5em;
  }
  div.sc-only-title-btn {
    position:relative;
  }
  div.sc-only-row span.field-content {
    font-size : 1.5em;
    position:relative;
    top:50%;
    margin-top: 0;
  }

}


/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {
  div.sc-only-title-btn {
    border-radius: 25px;
    border: .5em solid blue;
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
    margin-top:1em;
  }
  div.sc-only-title-btn {
    position:relative;
  }
  div.sc-only-row span.field-content {
    font-size : 2em;
    position:relative;
    top:50%;
    margin-top: 0;
  }
}

.talent-volunteers-rows div.views-field-field-person-image {
  margin-top:.5em;
  display:inline-block;
}
.talent-volunteers-rows div.views-field-field-band-image {
  margin-top:.5em;
  display:inline-block;
}

.talent-volunteers-rows {
  text-align:center;
  margin-bottom:1em;
}

.board-member-rows div.views-field-field-image {
  margin-top:.5em;
  display:inline-block;
}
.board-member-rows div.views-field-field-person-image {
  margin-top:.5em;
  display:inline-block;
}

.board-member-rows {
  text-align:center;
  margin-bottom:1em;
}

/**************************************************************
*
* Footer Styling
*
***************************************************************/

.social-links-wrapper{
  text-align: center;
}
.cdss-logo {
  margin:2em;
  height:80px
}

.fb-logo {
  margin:2em;
  height:80px;
}

div#views-bootstrap-footer-view-block-1 {
  text-align:center;
}
@media only screen and (min-width : 480px) {
  div#views-bootstrap-footer-view-block-1 div.row div.field-content a img {
    height: 100px;
  }
}
div#views-bootstrap-footer-view-block-1 p {
  font-weight:600;
  text-emphasis: blue;
  font-style:italic;
  margin:1em;
}

@media only screen and (min-width : 320px) {
  div#views-bootstrap-footer-view-block-1 img {
    height:50px;
    width:auto;
  }
}

/**************************************************************
*
* Sponsor a Dancer styling
*
***************************************************************/


.checkmark-list {
  margin-bottom:.5em;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  p.sponsor-dancer-smaller {
    font-size:1.25em;
  }
  p.sponsor-dancer-main {
    font-size:1.0em;
  }
  div.sponsor-img-happy, div.img-sponsor-heart {
    width: 100%;
    display: block;
    text-align: center;
    height: 250px;
  }
  div.sponsor-img-happy img, div.img-sponsor-heart img {
    height: 250px;
    width: auto !important;
  }
  div.right-checks-container, div.left-checks-container {
    width: 100%;
    display: block;
    padding: 1em;
    text-align: center;
  }
  div.sponsor-block-1, div.sponsor-block-2 {
    display: inherit;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  p.sponsor-dancer-smaller {
    font-size:1.5em;
  }
  p.sponsor-dancer-main {
    font-size:1.25em;
  }
  div.sponsor-img-happy, div.img-sponsor-heart {
    width: 100%;
    display: block;
    text-align: center;
    height: 250px;
  }
  div.sponsor-img-happy img, div.img-sponsor-heart img {
    height: 250px;
    width: auto !important;
  }
  div.right-checks-container, div.left-checks-container {
    width: 100%;
    display: block;
    padding: 1em;
  }
  div.sponsor-block-1, div.sponsor-block-2 {
    display: inherit;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  p.sponsor-dancer-smaller {
    font-size:2em;
  }
  p.sponsor-dancer-main {
    font-size:1.75em;
  }
  div.sponsor-img-happy, div.img-sponsor-heart {
    width:49%;
    display:block;
  }
  div.right-checks-container, div.left-checks-container {
    width:49%;
    display:block;
    padding:1em;
  }
  div.sponsor-block-1, div.sponsor-block-2 {
    display:flex;
    margin-top: 1em;
    margin-bottom: 1em;
  }

}

/**************************************************************
*
* Override off-canvas CSS until
*
***************************************************************/


#drupal-off-canvas button, #drupal-off-canvas .button {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight:800;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#drupal-off-canvas button.btn-success {
  background-color:green;
  color:white;
}


#drupal-off-canvas button.btn-default.form-submit {
  background-color:#ffc107;
  color:black;
}


/**************************************************************
*
* Set style for Directions page
*
***************************************************************/
span.directions-titles.btn-block.btn.btn-default {
  font-size:1.0em;
  font-weight: 800;
}
.view-directions-view p {
  margin-top: .5em;
  font-size:14px;
}
.view-directions-view   div.directions-block {
  display: inline-block;
  text-align: center;
  margin-top:.5em;
  margin-bottom: .5em;
}

.view-directions-view .left-image-block {
  width:100%;
  display:inline-block;
}

.view-directions-view   div.left-image-block, div.right-text-block {
  width: 100%;
}

@media only screen and (min-width : 768px) {
  span.directions-titles.btn-block.btn.btn-default {
    font-size:2em;
  }
  .view-directions-view   div.directions-block {
    display: inline-flex;
    text-align: center;
    margin-top:.5em;
    margin-bottom: .5em;
    width:100%;
  }
  .view-directions-view p {
    margin-top: .5em;
    font-size:18px;
  }
  .view-directions-view .left-image-block {
    width:49%;
    display:inline-block;
  }
}

@media only screen and (min-width : 768px) {
  span.directions-titles.btn-block.btn.btn-default {
    font-size:2em;
  }
  .view-directions-view p {
    margin-top: .5em;
    font-size:18px;
  }
  .view-directions-view .left-image-block {
    width:49%;
    display:inline-flex;
  }
  .view-directions-view   div.left-image-block, div.right-text-block {
    width: 49%;
    display:inline-block;
    float:top;
  }
}
/**************************************************************
*
* Uncategorzied
*
***************************************************************/

div#drupal-modal label.control-label {
  color:black;
}

div#drupal-modal div.help-block {
  color:black;
  font-size:1em;
}
div.form-group tr label.control-label {
  color:black;
}

div.form-group div.form-item thead th {
  color:white;
}

form.node-form div[id^="edit-"][id$="-wrapper"] {
  color:white;
}
form.node-form div[id^="edit-"][id$="-wrapper"] div.panel-body label.control-label,  form.node-form div[id^="edit-"][id$="-wrapper"]  .paragraph-type-title {
  color:black;
}

div.form-group div.form-item div.panel-body div.help-block.description {
  font-size:1em;
  color:black;
}
form.node-form div[id^="edit-"][id$="-wrapper"] div.description.help-block {
  font-size:1em;
  color:white;
}

li.vertical-tab-button:not(.active) {
  border: 2px solid white;
  border-radius: 5px;
}
/**************************************************************
*
* Board Meetings
*
***************************************************************/

div.public-agenda-items.panel,
div.private-agenda-items.panel{
  padding:.5em;
  color: black;
  font-size:1em;
}

div.public-agenda-items.panel div.tab-content,
div.private-agenda-items.panel div.tab-content{
  border: 5px solid blue;
  border-radius: 10px;
  padding:1em;
}

div.public-agenda-items.panel ul,
div.private-agenda-items.panel ul {
  margin-bottom:.25em;
}

button.edit-submit-email {
  margin-bottom: .5em;
}

.agenda-items-agenda-form button {
  margin-bottom: .5em;
}

/**************************************************************
*
* User account page
*
***************************************************************/
.ccd-financials-ytd-block {
  text-align: center;
  color:black;
  font-size:1.5em;
}

.panel.ccd-financials-ytd-block  h3,
.panel.ccd-financials-ytd-block  h4 {
  color: black;
  font-size: 1em;
}
.profit-red {
  color:red;
  font-size: 1.5em;
  text-align: center;
}

.profit-green {
  color:green;
  font-size:1.5em;
  text-align: center;
}

#block-views-block-my-hosting-dates-my-hosting-dates .panel.panel-default,
#block-views-block-upcoming-board-meetings-upcoming-meeting-dates .panel.panel-default,
#block-ytdrevenueblock .panel.panel-default {
  padding:.5em;
}
@media only screen and (min-width : 320px) {
  .ccd-financials-ytd-block p {
    text-align: center;
  }
}
@media only screen and (min-width : 480px) {
  .ccd-financials-ytd-block p {
    text-align: center;
  }
}

@media only screen and (min-width : 768px) {
  .ccd-financials-ytd-block p {
    text-align: center;
  }
}
.view-my-hosting-dates .panel.panel-default span.views-field {
  color:black;
  display:block;
}

.view-upcoming-board-meetings .panel.panel-default span.views-field {
  color:black;
  display:block;
}

#block-ytdrevenueblock {
  float:right;
}
/***********************************
*
* Contract pages
*
***********************************/

div#caller-contract h2,
div#caller-contract h3 {
  color:black;
}

div#band-contract h2,
div#band-contract h3 {
  color:black;
}

/***********************************
*
* front page come dance jerks
*
***********************************/


.report-module {
  position: relative;
  margin: 30px 0;
  z-index: 1;
  display: block;
  background: #ffffff;
  min-width: 270px;
  width: 300px\9;
  height: auto;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.report-module .thumbnail {
  background: #009775;
  height: 500px;
  overflow: hidden;
}
.thumbnail {
  padding: 0;
}

.report-module:hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.report-module:hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .9;
}
.report-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  opacity: .2;
}
.report-module .post-content {
  position: absolute;
  color:#666666;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  padding: 20px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.report-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #333;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.report-module .post-content .title {
  text-align: center;
  margin: 0;
  padding: 10px 0 10px;
  color: #333333;
  font-size: 22px;
  font-weight: 700;
}

.report-module .post-content .description {
  display:block;
  color: #666666;
  font-size: 14px;
  margin:0;
  text-align: center;
}
.report-module address {
  text-align: center;
}


/***********************************
*
* Booking CSS
*
***********************************/

.node-create button {
  margin-left: .5em;
  margin-right: .5em;
}

.node-create p {
  color:black;
}
.node-create .well {
  padding: 5px;
  margin-right:.5em;
  margin-left: .5em;
  margin-top: 0;
  margin-bottom: .25em;
}
.node-create .well .panel-body {
  padding:10px;
}
.node-create .modal {
  max-height: 80%;
  overflow-y: scroll;
  overflow-scrolling: auto;
}
.node-create button[id^='payment-modal-submit-'] {
  margin-top: 10px;
}
div.js-filter-wrapper[id*='description-format'] {
  display:none;
}

#event-type-node-create-fieldset-wrapper {
  margin-bottom: .5em;
}

.modal-width-800 {
  width:800px;
}

.z-900 {
  z-index: 900;
}

.top-100 {
  top:100px;
}

/***********************************
*
* Quick Margin/Padding classes
*
***********************************/


.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.bold-header {
  color: white;
  font-weight: 600;
  font-size:2em;
  font-family: Ubuntu, sans-serif;
  text-transform: uppercase;
}
.bold-header-centered {
  color: white;
  font-weight: 600;
  font-family: Ubuntu, sans-serif;
  font-size:2em;
  text-align: center;
  text-transform: uppercase;
}

.card {
  border: 3px solid green;
  border-radius: 4px;
}

form[id^='views-form-commerce-cart-form'] div#edit-actions button[id^='edit'] {
  display:none;
}


/* Box shadow popouts */

.shadow-box {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

.shadow-box::after {
  content: '';
  position: absolute;
  z-index:-1;
  width:100%;
  height:100%;
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.shadow-box:hover {
  transform: scale(1.1, 1.1);
}

.shadow-box:hover::after {
  opacity: 1;
}

div#dr-fundraiser-block{
  background-image: url("../images/dr_back_op.jpeg");
  background-size: cover;
  box-shadow: 0 0 0 10px rebeccapurple;
  border-radius: 1em;
  padding: 2em;
  background-position-y: 100%;
}

div#dr-fundraiser-block .dr-fundraiser-total {
  text-align: center;
}
